.grid {
    border-collapse: collapse;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}

.grid td {
    border: 2px solid #444;
    width: 50px;
    height: 50px;
}

.grid.disabled {
    pointer-events: none;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
}

.grid.hidden {
    opacity: 0;
}

/* No outside borders */

.grid tr:first-child td {
    border-top-color: transparent;
}

.grid tr:last-child td {
    border-bottom-color: transparent;
}

.grid tr td:first-child {
    border-left-color: transparent;
}

.grid tr td:last-child {
    border-right-color: transparent;
}

/* Hovering when choosing moves */

.grid:not([data-turn="NULL"]) td:hover {
    cursor: pointer;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.grid[data-turn="X"] td:hover {
    cursor: url(../img/cursor_X.png), pointer;
}

.grid[data-turn="O"] td:hover {
    cursor: url(../img/cursor_O.png), pointer;
}

.grid[data-turn="D"] td:hover {
    cursor: url(../img/cursor_D.png), pointer;
}

.grid:not([data-turn="NULL"]) td[data-player="X"]:hover,
.grid:not([data-turn="NULL"]) td[data-player="O"]:hover,
.grid:not([data-turn="NULL"]) td[data-player="D"]:hover {
    cursor: not-allowed;
}

/* Placed moves */

.grid td:not([data-player="NULL"]) {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
}

.grid td[data-player="X"] {
    background-image: url(../img/player_X.svg);
    background-color: rgba(200, 124, 0, 0.2);
}

.grid td[data-player="O"] {
    background-image: url(../img/player_O.svg);
    background-color: rgba(30, 170, 46, 0.2)
}

.grid td[data-player="D"] {
    background-image: url(../img/player_D.svg);
    background-color: rgba(0, 50, 200, 0.2);
}

/* Selected cells */

.grid td[data-player="X"].selected-X::after,
.grid td[data-player="O"].selected-O::after,
.grid td[data-player="D"].selected-D::after {
    content: "";
    display: block;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border: 5px solid #F44336;
}